{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if about %}
    {% if about.homepage_template == 'template1' %}
      {% include 'properties/homepage_templates/template1.html' %}
    {% elif about.homepage_template == 'template2' %}
      {% include 'properties/homepage_templates/template2.html' %}
    {% elif about.homepage_template == 'template3' %}
      {% include 'properties/homepage_templates/template3.html' %}
    {% elif about.homepage_template == 'template4' %}
      {% include 'properties/homepage_templates/template4.html' %}
    {% else %}
      {% include 'properties/homepage_templates/template1.html' %}
    {% endif %}
  {% else %}
    <!-- Default template if no settings configured -->
    {% include 'properties/homepage_templates/template1.html' %}
  {% endif %}

  <!-- Custom Sections with dynamic ordering -->
  {% for section in sections %}
    {% if section.type == 'custom_section' %}
      {% with section.custom_section as custom_section %}
        {% if custom_section.layout == 'text_only' %}
          <!-- Pass the custom_section data to the template -->
          {% include 'properties/custom_sections/text_only.html' with section=custom_section %}
        {% elif custom_section.layout == 'image_left' %}
          <!-- Pass the custom_section data to the template -->
          {% include 'properties/custom_sections/image_left.html' with section=custom_section %}
        {% elif custom_section.layout == 'image_right' %}
          <!-- Pass the custom_section data to the template -->
          {% include 'properties/custom_sections/image_right.html' with section=custom_section %}
        {% elif custom_section.layout == 'image_center' %}
          <!-- Pass the custom_section data to the template -->
          {% include 'properties/custom_sections/image_center.html' with section=custom_section %}
        {% elif custom_section.layout == 'cards' %}
          <!-- Pass the custom_section data to the template -->
          {% include 'properties/custom_sections/cards.html' with section=custom_section %}
        {% elif custom_section.layout == 'services' %}
          <!-- Pass the custom_section data to the template -->
          {% include 'properties/custom_sections/services.html' with section=custom_section %}
        {% elif custom_section.layout == 'search_bar' %}
          {% include 'properties/custom_sections/search_bar.html' %}
        {% elif custom_section.layout == 'stats_section' %}
          {% include 'properties/custom_sections/stats_section.html' %}
        {% elif custom_section.layout == 'featured_listings' %}
          {% with section.data as featured_listings %}
            {% include 'properties/custom_sections/featured_listings.html' %}
          {% endwith %}
        {% elif custom_section.layout == 'features_section' %}
          {% include 'properties/custom_sections/features_section.html' %}
        {% elif custom_section.layout == 'testimonials' %}
          {% include 'properties/custom_sections/testimonials.html' %}
        {% elif custom_section.layout == 'recent_listings' %}
          {% with section.data as recent_listings %}
            {% include 'properties/custom_sections/recent_listings.html' %}
          {% endwith %}
        {% elif custom_section.layout == 'contact_info' %}
          {% include 'properties/custom_sections/contact_info.html' %}
        {% elif custom_section.layout == 'social_media' %}
          {% include 'properties/custom_sections/social_media.html' %}
        {% endif %}
      {% endwith %}
    {% elif section.type == 'search_bar' %}
      {% include 'properties/custom_sections/search_bar.html' %}
    {% elif section.type == 'stats_section' %}
      {% include 'properties/custom_sections/stats_section.html' %}
    {% elif section.type == 'featured_listings' %}
      {% with section.data as featured_listings %}
        {% include 'properties/custom_sections/featured_listings.html' %}
      {% endwith %}
    {% elif section.type == 'features_section' %}
      {% include 'properties/custom_sections/features_section.html' %}
    {% elif section.type == 'testimonials' %}
      {% include 'properties/custom_sections/testimonials.html' %}
    {% elif section.type == 'recent_listings' %}
      {% with section.data as recent_listings %}
        {% include 'properties/custom_sections/recent_listings.html' %}
      {% endwith %}
    {% elif section.type == 'contact_info' %}
      {% include 'properties/custom_sections/contact_info.html' %}
    {% elif section.type == 'social_media' %}
      {% include 'properties/custom_sections/social_media.html' %}
    {% endif %}
  {% endfor %}

  <!-- JSON-LD Structured Data for Home Page -->
  {% block structured_data %}
  {{ block.super }}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "RealEstate",
    "url": "{{ request.scheme }}://{{ request.get_host }}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ request.scheme }}://{{ request.get_host }}{% url 'listings' %}?search={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
  {% if about %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "RealEstate",
    "description": "{{ about.content|truncatewords:30 }}",
    "url": "{{ request.scheme }}://{{ request.get_host }}",
    {% if about.phone %}"telephone": "{{ about.phone }}",{% endif %}
    {% if about.email %}"email": "{{ about.email }}",{% endif %}
    {% if about.address %}"address": "{{ about.address }}",{% endif %}
    "sameAs": [
      {% if about.facebook_url %}"{{ about.facebook_url }}"{% endif %}
      {% if about.instagram_url %}{% if about.facebook_url %},{% endif %}"{{ about.instagram_url }}"{% endif %}
      {% if about.twitter_url %}{% if about.facebook_url or about.instagram_url %},{% endif %}"{{ about.twitter_url }}"{% endif %}
      {% if about.linkedin_url %}{% if about.facebook_url or about.instagram_url or about.twitter_url %},{% endif %}"{{ about.linkedin_url }}"{% endif %}
    ]
  }
  </script>
  {% endif %}
  {% endblock %}
{% endblock %}